* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.token.punctuation {
    color: black;
}
.token.comment {
    color: black;
}
.token.selector{
    color: black;
}
.token.property{
    color: black;
}

#editor,#paper {
    overflow: auto;
}
#editor {
    width: auto;
    height: auto;
    margin: 0 20px;
}
#paper {
    width: 0;
    height: 0;
    margin: 0 20px;
}
@keyframes breath{
  0%{
    box-shadow: 0 0 10px rgba(0,0,0,1)
  }
  100%{
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
  }
}